.exp-tit {
    font-size: 3rem;
    line-height: 1.5;
}

.exp-image-sec {
    padding: 10px;
    /* align-items: center; */
    justify-items: center;
    /* justify-content: space-between; */
    /* margin: 2%; */
}

.exp-img-text {
    /* align-items: center; */
    position: relative;
    margin: 20px;
}

.exp-image {

    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    /* width: 100%; */
    backface-visibility: hidden;
}

/* Overlay effect for the image */
.overlay {
    position: absolute;
    top: 0;
    left: 0.1;
    width: 94%;
    height: 99.5%;
    background-color: rgba(0, 0, 0, 0.4); /* Dark semi-transparent overlay */
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* Positioning text in the bottom left corner */
.text {
    position: absolute;
    bottom: 10px; /* Positioning text to the bottom */
    left: 10px;
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: left;
}

/* Show the overlay and text when hovering over the image */
.exp-img-text:hover .overlay {
    opacity: 1;
}

.exp-img-text:hover .text {
    opacity: 1;
}

.refind-room{
   padding: 3%;
}