/* Header */
.custom-header {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

/* Social Media Icons */
.custom-social-icons {
    display: flex;
    gap: 1rem;
}

.custom-social-icons svg {
    cursor: pointer;
    transition: color 0.3s;
}

.custom-social-icons svg:hover {
    color: black;
}

/* Desktop Navigation */
.custom-navigation {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* Navigation List */
.custom-nav-list {
    display: flex;
    gap: 1.5rem;
    color: gray;
    font-size: 1rem;
    list-style-type: none;
}

.custom-nav-list li {
    cursor: pointer;
    position: relative;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    transition: color 0.3s;
}

.custom-nav-list li:hover {
    color: black;
}

.custom-nav-list li:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: black;
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
}

.label-up {
    display: block;
    position: relative;
    top: 0%;
    transition: 0.3s ease;
}

.custom-nav-list li:hover:after {
    transform: scaleX(1);
}

.custom-nav-list li:hover .label-up {
    top: -100%;
}

/* Logo */
.custom-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Sidebar Toggle (Hidden on Desktop) */
.custom-sidebar-toggle {
    cursor: pointer;
}

/* Sidebar (Mobile) */
.custom-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100%;
    background-color: #2d2d2d;
    color: white;
    padding: 1.5rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 9999;
    flex-direction: column;
}

.custom-sidebar ul {
    list-style: none;
    padding: 0;
}

.custom-sidebar li {
    cursor: pointer;
    margin-bottom: 1rem;
}

/* Hide Sidebar on Desktop */
@media (min-width: 1024px) {
    .custom-sidebar {
        display: none;
    }
}

/* Mobile View: Center Logo, Sidebar Items */
@media (max-width: 1023px) {
    .custom-navigation {
        display: none; /* Hide desktop nav */
    }

    .custom-header {
        justify-content: space-between;
    }

    .custom-logo {
        flex-grow: 1;
        text-align: center;
    }

    .custom-sidebar-toggle {
        display: block;
    }
}
